<a class="Card" href="<%= `/character/${getIdFromUrl(person.url)}` %>">
  <h3 class="Card-title"><%= person.name %></h3>
  <ul class="Card-details Details-desc List">
    <li class="Details-descItem">Born: <%= person.birth_year %></li>
    <li class="Details-descItem">Gender: <%= person.gender %></li>
  </ul>
  <span class="Card-link">See detail</span>
</a>
