.Card {
  border: 1px solid var(--border-color);
  border-radius: 2px;
  color: var(--text-primary);
  display: block;
  min-height: 110px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
}

.Card:hover {
  color: var(--text-primary);
  text-decoration: none;
}

.Card-title {
  font-size: 1.9rem;
  margin: 0.5rem 0;
}

.Card-details {
  margin: 1rem 0;
}

.Card-link {
  color: var(--link-color);
  display: inline-block;
  margin: 0.5rem 0;
}

.Card-title,
.Card-title {
  transition: color 0.3s ease;
}

.Card:hover .Card-title,
.Card:focus .Card-title,
.Card:hover .Card-link,
.Card:focus .Card-link {
  color: var(--link-color-hover);
  text-decoration: underline;
}
